/*Styles by Matt DePero
 *
 *Cascading Style Sheet
 */
 body{
 	background-color:#EAFFFF;
 }

 .resume-header{
 	height: 100vh;
 	width: 100vw;
 	display: table-cell;
 	vertical-align: middle;
 }

 .profile-picture{
 	width: 100px;
 	height: 100px;
 	background-repeat: no-repeat;
 	background-position: center;

 	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
 	
 }
