/*Styles by Matt DePero
 *
 *Cascading Style Sheet
 */
 body{
 	background-color:#EAFFFF;
 }

 .resume-header{
 	height: 100vh;
 	width: 100vw;
 	display: table-cell;
 	vertical-align: middle;
 }

 .profile-picture{
 	width: 200px;
 	height: 200px;
 	background-repeat: no-repeat;
 	background-position: center;
 	background-size: cover;

 	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	margin-left: auto;
	margin-right: auto;

 }
