/*Styles by Matt DePero
 *
 *Cascading Style Sheet
 */
 body{
 	background-color:#EAFFFF;
 }

 .resume-header{
 	height: 100vh;
 	width: 100vw;
 	display: table-cell;
 	vertical-align: middle;
 	position: relative;

 	padding-bottom: 100px;

 }

 .profile-picture{
 	width: 170px;
 	height: 170px;
 	background-repeat: no-repeat;
 	background-position: center;
 	background-size: cover;

 	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
	border-radius: 85px;

	margin-left: auto;
	margin-right: auto;

	margin-bottom: 10px;

 }

  @media only screen and (max-width: 768px) {

 	.profile-picture{
 		width: 100px;
 		height: 100px;

 		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
 	}

 }

 .scroll-container{
 	position: absolute;
 	bottom: 0px;
 	width: 100%;
 	padding-bottom: 30px;
 	text-align: center;

 	-webkit-animation:bounce 2s infinite;
 }

 @-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  30%, 70% { bottom:16px; }
  35%, 65% { bottom:17px; }
  40%, 60% { bottom:18px; }
  45%, 55% { bottom:19px; }
  50%      { bottom:20px; }
  100%     { bottom:0px; }
}

 .resume-scroll{
 	margin-left: auto;
 	margin-right: auto;

 	cursor: pointer !important;

 	width: 60px;
 }

 .resume-item{
 	margin-top: 60px;
 	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }

 .resume-item .table-responsive{
 	border: none !important;
 }

 .resume-item table td{
 	border-top: none !important;
 	padding: 4px 8px !important;
 }

 .resume-item table tr td:first-child{
 	font-weight: bold;
 }

 .icon-image{
 	width: 100px;
 	height: 100px;
 	background-repeat: no-repeat;
 	background-position: center;
 	background-size: cover;

 	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	margin-left: auto;
	margin-right: auto;

	margin-bottom: 30px;

 }

 .block{
 	display: inline-block;
 }
 .block:hover{
 	background-color: white;
 }

 .resume-item h2{
 	text-align: center;
 }

 .resume-content .col-sm-4{
 	font-weight: bold;
 }

 .resume-hr{
 	border-color:black !important;
 	margin-top: 100px !important;
 }